{
  "openapi": "3.1.0",
  "info": {
    "title": "Belio API",
    "description": "OpenAPI Specification for Belio's REST API",
    "contact": {
      "name": "Belio API Support",
      "url": "https://belio.co.ke"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.belio.co.ke",
      "description": "API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/realms/api/protocol/openid-connect/token": {
      "servers": [
        {
          "url": "https://account.belio.co.ke",
          "description": "Authorization Server"
        }
      ],
      "post": {
        "operationId": "getAccessToken",
        "tags": ["Authentication"],
        "security": [],
        "description": "Obtain an access token using client credentials flow",
        "requestBody": {
          "description": "Client authentication details",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "The client identifier"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "The client secret"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": ["client_credentials"],
                    "default": "client_credentials"
                  }
                },
                "required": ["client_id", "client_secret", "grant_type"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized - Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          }
        }
      }
    },
    "/service": {
      "get": {
        "operationId": "listServices",
        "tags": ["Service"],
        "description": "Retrieve a list of available messaging services",
        "responses": {
          "200": {
            "description": "List of available messaging services",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized - Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/message/{serviceId}": {
      "post": {
        "operationId": "sendMessage",
        "tags": ["Message"],
        "description": "Send a message to one or multiple recipients",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the messaging service"
          }
        ],
        "requestBody": {
          "description": "Message details for sending to one or multiple recipients",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "SendToEach",
                    "description": "Send message to a single recipient",
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": ["SendToEach"],
                        "description": "Indicates sending to a single recipient"
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string",
                              "description": "Message content to be delivered. Cannot be empty"
                            },
                            "phone": {
                              "type": "string",
                              "description": "Recipient's phone number e.g +254712345678, 25412345678, 0712345678. Cannot be empty"
                            }
                          },
                          "additionalProperties": false
                        },
                        "description": "Messages and recipients"
                      },
                      "receiptRequest": {
                        "type": "object",
                        "properties": {
                          "correlator": {
                            "type": "string",
                            "description": "Client-provided identifier for correlation"
                          },
                          "callbackUrl": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL for delivery receipt callbacks"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "required": ["type", "messages"]
                  },
                  {
                    "title": "SendToMany",
                    "description": "Send message to multiple recipients",
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": ["SendToMany"],
                        "description": "Indicates sending to multiple recipients"
                      },
                      "message": {
                        "type": "string",
                        "description": "Message content to be delivered to all recipients. Cannot be empty"
                      },
                      "addresses": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of recipients' phone numbers e.g [+254712345678, 25412345678, 0712345678]. Cannot be empty"
                      },
                      "receiptRequest": {
                        "type": "object",
                        "properties": {
                          "correlator": {
                            "type": "string",
                            "description": "Client-provided identifier for correlation"
                          },
                          "callbackUrl": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL for delivery receipt callbacks"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "required": ["type", "addresses", "message"]
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Message(s) sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageSendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized - Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/data/campaign": {
      "get": {
        "operationId": "listCampaigns",
        "tags": ["Campaign"],
        "description": "Fetches all campaigns for the authenticated team.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-indexed page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1
            },
            "description": "Max number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaigns retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized - the user does not have permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/data/{campaignId}": {
      "post": {
        "operationId": "disburseData",
        "tags": ["Mobile Data"],
        "description": "Disburse mobile data bundles to one or multiple recipients.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier that references the rules for the disbursement."
          }
        ],
        "requestBody": {
          "description": "Disbursement request payload",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
	                  {
	                    "title": "SendToEach",
	                    "description": "Send a custom denomination to each recipient",
	                    "type": "object",
	                    "properties": {
	                      "type": {
	                        "type": "string",
	                        "enum": ["SendToEach"],
	                        "description": "Indicates per-recipient bundle disbursement mode"
	                      },
	                      "disbursements": {
	                        "type": "array",
	                        "minItems": 1,
	                        "maxItems": 100,
	                        "items": {
	                          "type": "object",
	                          "properties": {
	                            "phone": {
	                              "type": "string",
	                              "description": "Recipient phone number"
	                            },
	                            "denomination": {
	                              "type": "string",
	                              "enum": [
	                                "10MB",
	                                "20MB",
	                                "25MB",
	                                "30MB",
	                                "50MB",
	                                "100MB",
	                                "150MB",
	                                "200MB",
	                                "250MB",
	                                "500MB",
	                                "750MB",
	                                "1GB",
	                                "2GB",
	                                "3GB",
	                                "5GB",
	                                "10GB"
	                              ],
	                              "description": "Bundle denomination to be sent to recipient. Should exist in the chosen campaign"
	                            },
	                            "message": {
	                              "type": "string",
	                              "minLength": 1,
	                              "maxLength": 960,
	                              "description": "Optional SMS notification sent after successful data disbursement (requires top-level messaging configuration)."
	                            }
	                          },
	                          "required": ["phone", "denomination"],
	                          "additionalProperties": false
	                        },
	                        "description": "List of recipients with individual denominations"
	                      },
	                      "messaging": {
	                        "$ref": "#/components/schemas/DataMessagingConfig"
	                      },
	                      "receiptRequest": {
	                        "$ref": "#/components/schemas/DataReceiptRequest"
	                      }
	                    },
	                    "required": ["type", "disbursements"],
	                    "allOf": [
	                      {
	                        "if": {
	                          "properties": {
	                            "disbursements": {
	                              "contains": {
	                                "type": "object",
	                                "required": ["message"]
	                              }
	                            }
	                          }
	                        },
	                        "then": {
	                          "required": ["messaging"]
	                        }
	                      }
	                    ],
	                    "additionalProperties": false
	                  },
	                  {
	                    "title": "SendToMany",
	                    "description": "Send the same denomination to multiple recipients",
	                    "type": "object",
	                    "properties": {
	                      "type": {
	                        "type": "string",
	                        "enum": ["SendToMany"],
	                        "description": "Indicates bulk disbursement mode"
	                      },
	                      "phones": {
	                        "type": "array",
	                        "minItems": 1,
	                        "maxItems": 100,
	                        "items": {
	                          "type": "string",
	                          "description": "Recipient phone number"
	                        },
	                        "description": "List of recipients' phone numbers. Maximum of 100 per request."
	                      },
	                      "denomination": {
	                        "type": "string",
	                        "enum": [
	                          "10MB",
                          "20MB",
                          "25MB",
                          "30MB",
                          "50MB",
                          "100MB",
                          "150MB",
                          "200MB",
                          "250MB",
                          "500MB",
                          "750MB",
                          "1GB",
                          "2GB",
                          "3GB",
                          "5GB",
                          "10GB"
	                        ],
	                        "description": "Bundle to be sent to recipient. Should exist in the chosen campaign."
	                      },
	                      "messaging": {
	                        "$ref": "#/components/schemas/DataMessagingToMany"
	                      },
	                      "receiptRequest": {
	                        "$ref": "#/components/schemas/DataReceiptRequest"
	                      }
	                    },
	                    "required": ["type", "phones", "denomination"],
	                    "additionalProperties": false
	                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successfully queued for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataDisbursementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error due to missing or invalid fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated - invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized - permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Business rule validation failure (e.g. unsupported denomination)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal system error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/bundle/{productType}": {
      "get": {
        "operationId": "listBundles",
        "tags": ["Bundle"],
        "description": "Retrieve a list of bundles for a product type",
        "parameters": [
          {
            "name": "productType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["SMS", "DATA_BUNDLE"]
            },
            "description": "Type of product associated with the bundle e.g SMS, DATA_BUNDLE"
          }
        ],
        "responses": {
          "200": {
            "description": "List of available bundles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundlesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized - Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - the requested resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The access token. This is used as a bearer token in the Authorization header of requests to the API."
          },
          "expires_in": {
            "type": "integer",
            "format": "int32",
            "description": "Lifetime of the access token in seconds"
          },
          "refresh_expires_in": {
            "type": "integer",
            "format": "int32",
            "default": 0,
            "description": "Lifetime of the refresh token in seconds"
          },
          "token_type": {
            "type": "string",
            "enum": ["Bearer"],
            "description": "Type of the token"
          },
          "not-before-policy": {
            "type": "integer",
            "format": "int32",
            "default": 0,
            "description": "Not Before Policy time"
          },
          "scope": {
            "type": "string",
            "description": "Space separated list of scopes associated with the access token"
          }
        }
      },
      "ServicesResponse": {
        "type": "object",
        "properties": {
          "desc": {
            "type": "object",
            "description": "The response",
            "properties": {
              "result": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the service"
                    },
                    "serviceName": {
                      "type": "string",
                      "description": "Name of the service"
                    },
                    "productType": {
                      "type": "string",
                      "enum": [
                        "SMS",
                        "USSD",
                        "AIRTIME",
                        "DATA_BUNDLE",
                        "WHATSAPP"
                      ],
                      "description": "Type of product associated with the service e.g SMS"
                    },
                    "teamId": {
                      "type": "string",
                      "description": "Identifier for the team associated with the service"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["Draft", "Active", "Offline", "Suspended"],
                      "default": "Draft",
                      "description": "Status of the service"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the service was created"
                    },
                    "updatedAt": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "Timestamp when the service was last updated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MessageSendResponse": {
        "type": "object",
        "properties": {
          "desc": {
            "type": "object",
            "description": "The response",
            "properties": {
              "requestId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier for the message request"
              },
              "units": {
                "type": "object",
                "description": "Number of credit units consumed by the request",
                "properties": {
                  "Safaricom": {
                    "type": "integer",
                    "const": 34,
                    "description": "Number of safaricom credits consumed by request"
                  },
                  "Airtel": {
                    "type": "integer",
                    "const": 16,
                    "description": "Number of airtel credits consumed by request"
                  }
                }
              },
              "addresses": {
                "type": "object",
                "description": "Number of recipient addresses processed",
                "properties": {
                  "Safaricom": {
                    "type": "integer",
                    "const": 34,
                    "description": "Number of safaricom recipient addresses processed"
                  },
                  "Airtel": {
                    "type": "integer",
                    "const": 45,
                    "description": "Number of airtel recipient addresses processed"
                  }
                }
              }
            }
          }
        }
      },
      "CampaignListResponse": {
        "type": "object",
        "properties": {
          "desc": {
            "type": "string",
            "example": "OK"
          },
          "result": {
            "$ref": "#/components/schemas/CampaignListResult"
          }
        }
      },
      "CampaignListResult": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page"
          },
          "total": {
            "type": "integer",
            "description": "Total number of campaigns"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique campaign ID"
          },
          "name": {
            "type": "string",
            "description": "Display name of the campaign"
          },
          "description": {
            "type": "string",
            "description": "Text summary of the campaign"
          },
          "teamId": {
            "type": "string",
            "description": "Owning team ID"
          },
          "serviceId": {
            "type": "string",
            "description": "Linked service ID"
          },
          "status": {
            "type": "string",
            "enum": ["Active", "Archived"],
            "description": "Status of the campaign"
          },
          "rules": {
            "$ref": "#/components/schemas/CampaignRules"
          }
        }
      },
      "CampaignRules": {
        "type": "object",
        "properties": {
          "frequency": {
            "$ref": "#/components/schemas/CampaignFrequency"
          },
          "allowedDenominations": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "10MB",
                "20MB",
                "25MB",
                "30MB",
                "50MB",
                "100MB",
                "150MB",
                "200MB",
                "250MB",
                "500MB",
                "750MB",
                "1GB",
                "2GB",
                "3GB",
                "5GB",
                "10GB"
              ]
            },
            "description": "List of allowed denominations"
          },
          "expiry": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Optional expiry timestamp"
          }
        }
      },
	      "CampaignFrequency": {
	        "type": "object",
	        "properties": {
	          "type": {
            "type": "string",
            "enum": [
              "OneTime",
              "Hourly",
              "Daily",
              "Weekly",
              "BiWeekly",
              "Monthly",
              "Quarterly",
              "SemiAnnual",
              "Annual",
              "Unlimited"
            ],
            "description": "Frequency type of the campaign"
          }
	        }
	      },
	      "MessagingServiceSelection": {
	        "description": "Select which SMS service to use when messaging is enabled.",
	        "oneOf": [
	          {
	            "title": "DefaultService",
	            "type": "object",
	            "properties": {
	              "type": {
	                "type": "string",
	                "const": "DefaultService",
	                "description": "Uses the campaign/product default SMS service"
	              }
	            },
	            "required": ["type"],
	            "additionalProperties": false
	          },
	          {
	            "title": "SelfService",
	            "type": "object",
	            "properties": {
	              "type": {
	                "type": "string",
	                "const": "SelfService",
	                "description": "Uses an explicitly provided SMS service ID"
	              },
	              "serviceId": {
	                "type": "string",
	                "description": "Unique identifier of the SMS service to use"
	              }
	            },
	            "required": ["type", "serviceId"],
	            "additionalProperties": false
	          }
	        ]
	      },
	      "DataMessagingConfig": {
	        "type": "object",
	        "description": "Messaging configuration used when sending optional SMS notifications.",
	        "properties": {
	          "serviceSelection": {
	            "$ref": "#/components/schemas/MessagingServiceSelection"
	          }
	        },
	        "required": ["serviceSelection"],
	        "additionalProperties": false
	      },
	      "DataMessagingToMany": {
	        "type": "object",
	        "description": "Optional SMS notification sent after successful data disbursement.",
	        "properties": {
	          "message": {
	            "type": "string",
	            "minLength": 1,
	            "maxLength": 960,
	            "description": "SMS content to be delivered to all recipients (SendToMany only)."
	          },
	          "serviceSelection": {
	            "$ref": "#/components/schemas/MessagingServiceSelection"
	          }
	        },
	        "required": ["message", "serviceSelection"],
	        "additionalProperties": false
	      },
	      "DataReceiptRequest": {
	        "type": "object",
	        "description": "Receipt callback configuration",
	        "properties": {
          "correlator": {
            "type": "string",
            "maxLength": 100,
            "description": "Unique correlation identifier used to match delivery receipts to the original request"
          },
          "callbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "Public HTTPS callback URL to receive delivery receipts"
          }
        },
        "required": ["correlator", "callbackUrl"],
        "additionalProperties": false
      },
      "DataDisbursementResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier assigned to the request"
          },
          "units": {
            "type": "object",
            "description": "Number of credit units consumed by the request, grouped by channel and denomination",
            "properties": {
              "Safaricom": {
                "type": "object",
                "description": "Units consumed per denomination for Safaricom",
                "additionalProperties": {
                  "type": "integer"
                }
              },
              "Airtel": {
                "type": "object",
                "description": "Units consumed per denomination for Airtel",
                "additionalProperties": {
                  "type": "integer"
                }
              }
            }
          },
          "addresses": {
            "type": "object",
            "description": "Number of recipient addresses processed",
            "properties": {
              "Safaricom": {
                "type": "integer",
                "description": "Number of Safaricom recipient addresses processed"
              },
              "Airtel": {
                "type": "integer",
                "description": "Number of Airtel recipient addresses processed"
              }
            }
          }
        }
      },
      "BundlesResponse": {
        "type": "object",
        "properties": {
          "desc": {
            "type": "object",
            "description": "The response",
            "properties": {
              "result": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["DataBundleResponse", "SmsBundleResponse"],
                      "description": "Type of product associated with the bundle"
                    },
                    "reference": {
                      "type": "string",
                      "description": "Unique identifier for the bundle"
                    },
                    "band": {
                      "type": "string",
                      "enum": [
                        "STARTER",
                        "STANDARD",
                        "ENTERPRISE",
                        "CUSTOM",
                        "PERSONAL",
                        "SANDBOX"
                      ],
                      "description": "Category of the bundle"
                    },
                    "bandName": {
                      "type": "string",
                      "description": "Specific category name of the bundle"
                    },
                    "rates": {
                      "type": "object",
                      "description": "Pricing details for different networks",
                      "properties": {
                        "Safaricom": {
                          "type": "number",
                          "format": "float",
                          "description": "Price of the bundle for Safaricom network"
                        },
                        "Airtel": {
                          "type": "number",
                          "format": "float",
                          "description": "Price of the bundle for Airtel network"
                        }
                      }
                    },
                    "balances": {
                      "type": "array",
                      "description": "List of balances associated with the bundle",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "DataBundleBalanceResponse",
                              "SmsBundleBalanceResponse"
                            ],
                            "description": "Type of product associated with the balance"
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique identifier for the balance"
                          },
                          "channel": {
                            "type": "string",
                            "enum": ["Safaricom", "Airtel"],
                            "description": "Network channel associated with the balance"
                          },
                          "denomination": {
                            "type": "string",
                            "enum": [
                              "10MB",
                              "20MB",
                              "25MB",
                              "30MB",
                              "50MB",
                              "100MB",
                              "150MB",
                              "200MB",
                              "250MB",
                              "500MB",
                              "750MB",
                              "1GB",
                              "2GB",
                              "3GB",
                              "5GB",
                              "10GB"
                            ],
                            "description": "Denomination for the data bundle balance. Only available when type is `DataBundleBalanceResponse`"
                          },
                          "balance": {
                            "type": "number",
                            "format": "float",
                            "description": "Current balance amount"
                          },
                          "allotted": {
                            "type": "number",
                            "format": "float",
                            "description": "Total amount allotted to the balance"
                          },
                          "reserved": {
                            "type": "number",
                            "format": "float",
                            "description": "Amount reserved from the balance"
                          },
                          "expiry": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiry date of the balance"
                          }
                        }
                      }
                    },
                    "validity": {
                      "type": ["string", "null"],
                      "description": "Validity period of the bundle e.g 30 days"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the bundle was created"
                    },
                    "updatedAt": {
                      "type": ["string", "null"],
                      "format": "date-time",
                      "description": "Timestamp when the bundle was last updated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AuthError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        }
      },
      "APIError": {
        "type": "object",
        "properties": {
          "desc": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
